.DS_Store
.env
pkg/*
.bundle
/vendor
/examples/restful/vendor
rspec.xml
Dockerfile.built
Dockerfile.log
Dockerfile.pushed
Dockerfile.tester.built
Dockerfile.tester.log
Dockerfile.tester.pushed
Dockerfile.mocker.built
Dockerfile.mocker.log
Dockerfile.mocker.pushed
Gemfile.lock
/examples/restful/Gemfile.lock