.DS_Store
.env
pkg/*
.bundle
/vendor
/examples/restful/vendor
rspec.xml
Dockerfile.built
Dockerfile.log
Dockerfile.pushed
Dockerfile.*.built
Dockerfile.*.log
Dockerfile.*.pushed
examples/**/Gemfile.lock
test-results
.bash_history
